<ng-template #template>
    <form [formGroup]="listForm" #form="ngForm" (ngSubmit)="createList($event)" novalidate class="tooltip-label-right">

    <div class="modal-header">
        <h4 *ngIf="!data" class="modal-title pull-left">Ajouter un nouveau list</h4>
        <h4 *ngIf="data" class="modal-title pull-left">Mettre à jour le list</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <label>Nom</label>
                <input type="name" class="form-control" formControlName="name">
                <div *ngIf="listForm.get('name').errors?.required && form.submitted" class="invalid-tooltip">Nom est requis</div>
                <div *ngIf="listForm.get('name').errors?.minlength && form.submitted" class="invalid-tooltip">Le Nom doit contenir au moins 2 caractères!</div>
            </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
            (click)="modalRef.hide()">Annuler</button>
        <button type="submit" class="btn btn-primary float-right">Soumettre</button>
    </div>
</form>
</ng-template>