<div class="row">
    <div class="col-12 col-md-12 col-xl-8 col-left">
        <div class="card mb-4">
          <div class="position-absolute card-top-buttons">
            <button class="btn btn-outline-white icon-button c-pointer" (click)="openModal(template, article)"><i class="simple-icon-pencil"></i></button>
        </div>
            <img alt="detail" style="height: 300px;"  [src]="article.attributes.url_image ? article.attributes.url_image : defaultImage" (click)="openLightbox(article.attributes.url_image ? article.attributes.url_image : defaultImage)" class="responsive border-0 card-img-top mb-3 c-pointer" />
            <span style="background-color: brown; color: white;"  [class]="'position-absolute badge-top-left badge badge-pill'"> {{article.attributes.category_article}}</span> 

            <div class="card-body">
              <div class="mb-5">
                <h3 class="card-title">{{article.attributes.title}} <a target="_blank" [href]="article.attributes.url_article"><i  class='simple-icon-link initial-height'></i></a></h3>
                <div [innerHTML]="article.attributes.body | sanitizeHtml"></div>
            </div>
          </div>
          
    </div>
</div>
    <div class="col-12 col-md-12 col-xl-4 col-right">
 
        <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Inormations</h5>

      
            
              <div class="d-flex flex-row align-items-center mb-3">
                <a class="d-block position-relative" href="#">
                  <i class='simple-icon-globe large-icon initial-height'></i>
                </a>
                <div class="pl-3 pt-2 pr-2 pb-2">
                  <a href="javascript:;">
                    <p class="list-item-heading mb-1">{{mediaName}}  </p>
                  </a>
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-3">
                <a class="d-block position-relative" href="#">
                  <i class='simple-icon-user large-icon initial-height'></i>
                </a>
                <div class="pl-3 pt-2 pr-2 pb-2">
                  <a href="javascript:;">
                    <p class="list-item-heading mb-1">{{article.attributes.author}}</p>
                  </a>
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-3">
                <a class="d-block position-relative" href="#">
                  <i class='simple-icon-calendar large-icon initial-height'></i>
                </a>
                <div class="pl-3 pt-2 pr-2 pb-2">
                  <a href="javascript:;">
                    <p class="list-item-heading mb-1">{{article.attributes.date_published}}</p>
                  </a>
                </div>
              </div>

            <div class="d-flex flex-row align-items-center mb-3">
                <a class="d-block position-relative" href="#">
                  <i class='simple-icon-tag large-icon initial-height'></i>
                </a>
                <div class="pl-3 pt-2 pr-2 pb-2">

                    <p class="d-sm-inline-block mb-1" *ngFor="let item of tags">
                        <a href="javascript:;">
                          <span class="badge badge-pill badge-outline-secondary mb-1 mr-1">{{item}}</span>
                        </a>
                    </p>

               
                </div>
              </div>
              
          
            </div>
          </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <h6 class="modal-title mb-4">Modification de l'article  </h6>


      <div class="row">
        <div class="col-12">
      
          <div class="card mb-4">
            <div class="card-body">
           
              <quill-editor [(ngModel)]="valueBind" [placeholder]="''"></quill-editor>
            </div>
          </div>
      
          
      
        </div>
      </div>
      



      <button type="button" class="btn btn-outline-primary" (click)="submit()">Confirmer</button> {{" "}}
      <button type="button" class="btn btn-primary" (click)="decline()">Annuler</button>
    </div>
  </ng-template>
