<div class="row">

    <div class="col-md-8 col-sm-12 mb-4">
        <div class="card">
      


                <div class="card-body">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">Nombre d'articles par média</h5>
                            <span class="text-muted text-small d-block">  {{duration}} </span>
                        </div>
                    </div>
 

                    <div class=" float-right float-none-xs mt-2 mb-3">
                        <div class="input-group ">
                        <input class="form-control" #drp="bsDaterangepicker" [(ngModel)]="rage_date"  placement='left'  bsDaterangepicker placeholder="Date de publication" [maxDate]="today"  [container]="'html'"  (ngModelChange)="changeDate($event)"
                        [bsConfig]="{ adaptivePosition: true, rangeInputFormat: 'DD/MM/YYYY' }"> 
                        <div class="input-group-append">
                          <span  class="input-group-text" id="basic-addon2">
                            <a (click)="removeDates()">
                              <i class="simple-icon-refresh c-pointer"></i>  
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="card-body pt-0">

                    <div class="dashboard-donut-chart">
                        <app-doughnut-chart *ngIf="polarAreaChartData" [shadow]="true" [options]="chartDataConfig.doughnutChartOptions"
                            [data]="polarAreaChartData"></app-doughnut-chart>
                    </div>
                </div>



       
        </div>
    </div>
   <div  class="col-md-4 col-sm-12 mb-4">
        <div style="height: 415px;" class="card">
            <div class="card-body">
           
                <div class="float-left float-none-xs">
                    <div class="d-inline-block">
                        <h5 class="d-inline">Nbr d'articles par média</h5>
                        <span class="text-muted text-small d-block">  {{duration}} </span>
                    </div>
                </div>

                <div class=" float-right float-none-xs mt-2 mb-3">
                   Total : {{total}}
                </div>
            </div>

            <div class="card-body pt-0">

                <perfect-scrollbar style="height: 300px;" class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr *ngFor="let medium of articlesWithCount">
                                <td>
                                    <span class="font-weight-medium">{{medium.name}}</span>
                                </td>
                                <td class="text-right"><span class="text-muted">{{medium.count}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </perfect-scrollbar>




            </div>
        </div>
    </div>
    
    
</div>

<div class="row">
       <div class="col-sm-12 col-md-6 mb-4">
      
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top 5 auteurs (Aujourd'hui) </h5>
                <div >
                    <app-polar-chart *ngIf="polarAreaChartDataAuthor" [shadow]="true" [class]="chartClass" [options]="chartDataConfig.polarAreaChartOptions"
                        [data]="polarAreaChartDataAuthor"></app-polar-chart>
                </div>
            </div>
        </div>
        
        
          

    </div> 

     <div class="col-sm-12 col-md-6 mb-4">
      
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nombre d'articles par tags</h5>
                <div >
                    <app-polar-chart [shadow]="true"  *ngIf="polarAreaChartDataTag"  [class]="chartClass" [options]="chartDataConfig.polarAreaChartOptions"
                        [data]="polarAreaChartDataTag"></app-polar-chart>
                </div>
            </div>
        </div>
        
        
          

    </div> 
</div>

<div class="row">

    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="float-left float-none-xs">
                    <div class="d-inline-block">
                        <h5 class="d-inline">Nombre d'articles</h5>
                        <span class="text-muted text-small d-block">les derniers  {{this.days}} jours</span>
                    </div>
                </div>
                <div class="btn-group float-right float-none-xs mt-2" dropdown>
                    <button id="button-basi" dropdownToggle type="button"
                        class="btn btn-outline-primary btn-xs dropdown-toggle" aria-controls="dropdown-basi">
                        {{this.days}} JOURS <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basi" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basi">
                        <li role="menuitem"><a (click)="changeDays(7)" class="dropdown-item" href="javascript:;">7 JOURS</a>
                        </li>
                        <li role="menuitem"><a (click)="changeDays(15)" class="dropdown-item" href="javascript:;">15 JOURS</a>
                        </li>
                        <li role="menuitem"><a (click)="changeDays(21)" class="dropdown-item" href="javascript:;">21 JOURS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body pt-0">
                <app-line-chart *ngIf="lineChartData" [shadow]="true" [options]="chartDataConfig.lineChartOptions" [data]="lineChartData">
                </app-line-chart>
            </div>
            







          </div>
    </div>



    
</div>