<app-list-form #addNewModalRef></app-list-form> 

 <app-list-page-header [selectAllState]="selectAllState" [totalElements]="totalElements" (selectAllChange)="selectAllChange($event)"
 [showOrderBy]="false" [showDisplayMode]="false" (searchKeyUp)="updateFilter($event)" (itemsPerPageChange)="onItemsPerPageChange($event)" [itemsPerPage]="itemsPerPage" [itemOptionsPerPage]="[6,12,18]"
 currentPage="lists" [id]='idItem' (addNewItem)="showAddNewModal()" >
</app-list-page-header>



<!-- 
  <div class="row" *ngFor="let item of rows; let i=index">
    <div class="card" style="margin-bottom: 15px;" > 

    <div class="col-md-12 mb-4 pl-0 pr-0">
      
     

        <label style="margin: 5px;" class="custom-control custom-checkbox mb-1 align-self-center pr-4">
           
            <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(item)"
              (change)="onSelect(item)"> 
            
            <label class="custom-control-label" [for]="'customCheck'+i"></label> 
           
            <h1>{{item.attributes.name}} 
              <h1 *ngIf="item.attributes.articles.length > 0" >
              
              ({{item.attributes.articles.length == 1 ? item.attributes.articles.length + ' Article' : item.attributes.articles.length + ' Articles'   }} )
            </h1>
            </h1>

        


          </label>
          <div  class="position-absolute card-top-buttons">
            <i class="simple-icon-pencil c-pointer" (click)="editList(item)"></i>
    
        </div>
    
      <app-glide *ngIf="item.attributes.articles.length > 0" [settings]="item.attributes.articles.length == 1 ? setting1 : item.attributes.articles.length == 2 ? setting2 : setting3">
        <div *ngFor="let article of item.attributes.articles.slice(0, 5)" class="glide__slide">
          <div *ngIf="article"  class="card flex-row">
            <div class="w-50 position-relative">
              <img style="height: 175px;" class="card-img-left" [src]="article.image.url ? urlForImage + article.image.url : defaultImage" alt="Card image cap">
              <span 
                class="badge badge-pill badge-theme-1 position-absolute badge-top-left">{{article.category_article}}</span>
            </div>
            <div class="w-50">
              <div class="card-body">
                <a  target="_blank" [href]="'app/articles/details?id='+article.id">
                <h6 class="mb-4">{{article.title}}</h6>
                </a>
                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">{{ article.author.name }} | {{article.date_published | date:'dd/MM/yyyy'}}</p>
                </footer>


                <div  class="position-absolute card-top-buttons">
                  <button class="btn btn-outline-dark icon-button c-pointer" (click)="deleteArticle(article.id,item.id )" >X</button>
              </div>

              </div>
            </div>
          </div>
        </div>
      </app-glide> 


      <div *ngIf="item.attributes.articles.length == 0" class="jumbotron" >
         <p class="lead">Vous n'avez aucun article pour l'instant, vous pouvez ajouter des articles pour la liste <b> "{{item.attributes.name}}"</b> a partir de la page de recherche  </p>
      </div>


      <div *ngIf="item.attributes.articles.length > 0 && item.attributes.articles.length > 5" class="text-center">
        <button  type="button" (click)="goToDetailsNewPage(item.id)"
        class="top-right-button btn btn-primary btn-lg mr-1">Consulter tout les articles</button>
      </div>

    </div>
</div>
</div>  -->

<div class="col-12 list">
  <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(a)}" *ngFor="let a of rows; let i=index"
    >
    <!-- <a class="d-flex" href="javascript:;">
      <img [src]="a.attributes.medium.avatar.url ? urlForImage + a.attributes.medium.avatar.url : defaultIcon" [alt]="a.attributes.medium.name" class="list-thumbnail responsive border-0 card-img-left" />
    </a> -->
    <div class="pl-2 d-flex flex-grow-1 min-width-zero" >
      <div
        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
        <a target="_blank" [href]="'app/lists/all-articles?id='+a.id"  class="w-40 w-sm-100" >
          <p class="list-item-heading mb-0 truncate">{{a.attributes.name}}</p>
        </a>
        <!-- <p class="mb-0 text-muted text-small w-15 w-sm-100">{{a.attributes.author.name}}</p> -->
        <p class="mb-0 text-muted text-small w-15 w-sm-100">Crée le : {{a.attributes.created_at | date:'dd/MM/yyyy' }}</p>
        <div class="w-15 w-sm-100">
            <!-- <span style="background-color: green; color: white;" *ngIf="a.attributes.status === 'confirmed'" [class]="'badge badge-pill'">{{a.attributes.status}}</span>
            <span style="background-color: rgb(240, 108, 0); color: white;" *ngIf="a.attributes.status === 'archived'" [class]="'badge badge-pill'">Archivé</span> -->
            <span style="background-color: rgb(184, 7, 7); color: white;" [class]="'badge badge-pill'">{{a.attributes.articles.length == 1 ? a.attributes.articles.length + ' Article' : a.attributes.articles.length + ' Articles'   }}</span>
            <!-- <span style="background-color: green; color: white;" *ngIf="a.attributes.is_tagged" [class]="'position-absolute badge-top-right badge badge-pill'"> Tag auto</span>  -->

        </div>
      </div>
      <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
        <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(a)"
          (change)="onSelect(a)">
        <label class="custom-control-label" [for]="'customCheck'+i"></label>
        <i style="padding-top: 5px;" class="simple-icon-pencil c-pointer" (click)="editList(a)"></i>
      </label>
   
    </div>
  </div>
</div>
<div class="col-12">
  <pagination [boundaryLinks]="true"  [totalItems]="totalElements" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
    [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center" [customFirstTemplate]="firstTemplate" [customLastTemplate]="lastTemplate"
    [customPreviousTemplate]="prevTemplate" [customNextTemplate]="nextTemplate">
  </pagination>
</div>

<div class="col-12">


  <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
  </ng-template>
  
  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
  </ng-template>
  
  <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-control-end'></i>
  </ng-template>
  
  <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-control-start'></i>
  </ng-template>
  
  </div>


<simple-notifications [options]="options"></simple-notifications>