<div class="row app-row">
    <div class="col-12" >
      
    <app-list-page-header [showDisplayMode]="false" [totalElements]="totalElements" [media]="media" [itemOptionsOrders]="itemOptionsOrders" [itemOrder]="itemOrder" [itemOptionsPerPage]="[6,12,18]" [itemsPerPage]="itemsPerPage"
    [selectAllState]="selectAllState" (changeDisplayMode)="changeDisplayMode($event)" (addNewItem)="showAddNewModal()"
    (selectAllChange)="selectAllChange($event)" (itemsPerPageChange)="itemsPerPageChange($event)" currentPage="sort-articles"
    (changeOrderBy)="changeOrderBy($event)" (selectMedium)="selectMedia($event)" >
    </app-list-page-header>

</div>
  
    <!-- <div class="col-12 list" *ngIf="displayMode==='thumb'"> -->
      <!-- <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(a)}" *ngFor="let a of rows; let i=index"
        >
        <a class="d-flex" href="javascript:;">
          <img [src]="a.attributes.medium.avatar.url ? urlForImage + a.attributes.medium.avatar.url : defaultIcon" [alt]="a.attributes.medium.name" class="list-thumbnail responsive border-0 card-img-left" />
        </a>
        <div class="pl-2 d-flex flex-grow-1 min-width-zero">
          <div
            class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
            <a href="javascript:;" class="w-40 w-sm-100" (click)="openDetailsModal(templateDetails, a)">
              <p class="list-item-heading mb-0 truncate">{{a.attributes.title}}</p>
            </a>
            <p class="mb-0 text-muted text-small w-15 w-sm-100">{{a.attributes.author.name}}</p>
            <p class="mb-0 text-muted text-small w-15 w-sm-100">{{a.attributes.date_published}}</p>
            <div class="w-15 w-sm-100">
                <span style="background-color: green; color: white;" *ngIf="a.attributes.status === 'checked'" [class]="'badge badge-pill'">{{a.attributes.status}}</span>
                <span style="background-color: rgb(240, 108, 0); color: white;" *ngIf="a.attributes.status === 'archived'" [class]="'badge badge-pill'">Archivé</span>
                <span style="background-color: rgb(184, 7, 7); color: white;" *ngIf="a.attributes.status === 'pending'" [class]="'badge badge-pill'">En attente</span>
                <span style="background-color: green; color: white;" *ngIf="a.attributes.is_tagged" [class]="'position-absolute badge-top-right badge badge-pill'"> Tag auto</span> 

            </div>
          </div>
          <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
            <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(a)"
              (change)="onSelect(a)">
            <label class="custom-control-label" [for]="'customCheck'+i"></label>
          </label>
        </div>
      </div> -->
<div class="col-12" *ngIf="!spinner">
      <div class="col-12" *ngFor="let item of rows; let i=index">
        <div [ngClass]="{'card d-flex mb-3 card': true, 'active':isSelected(item)}">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div
                    class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">
                    <span style="background-color: brown; color: white;"  [class]="'position-absolute badge-top-left badge badge-pill'">{{item?.attributes.category_article}}</span>

                    <a class="list-item-heading mb-0 truncate w-40 w-xs-100  mb-1 mt-1" id="toggler1"
                        href="javascript:;" (click)="openDetailsModal(templateDetails, item)">
                        <!-- <i
                            [ngClass]="{'heading-icon':true, 'simple-icon-refresh' : item.attributes.status === 'COMPLETED', 'simple-icon-check' : item.attributes.status !== 'COMPLETED' }"></i> -->
                        <span class="align-middle d-inline-block">{{ item.attributes.title }}</span></a>
                    <p class="mb-1 text-muted text-small w-15 w-xs-100">{{ item.attributes.author.name }}</p>
                    <p class="mb-1 text-muted text-small w-15 w-xs-100">{{ item.attributes.date_published | date:'dd/MM/yyyy'}}</p>
                    <div class="w-15 w-xs-100"><span
                            [class]="'badge badge-pill badge-info'">{{ item.attributes.medium.name }}</span></div>
                </div>
                <!-- <div class="custom-control custom-checkbox pl-1 align-self-center mr-4">
                    <div class="itemCheck mb-0 custom-checkbox custom-control">
                        <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i"
                            [checked]="isSelected(item)" (change)="onSelect(item)">
                        <label class="custom-control-label" [for]="'customCheck'+i"></label>
                    </div>
                </div> -->
            </div>
            <div class="card-body pt-1">
                <div [innerHTML]="getBodyWithSearch(item.attributes.body) "></div> 
            </div>
        </div>
    </div>
</div>

<div *ngIf="!spinner" class="col-12">
  <pagination *ngIf="rows.length > 0" [boundaryLinks]="true"  [totalItems]="totalElements" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
    [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center" [customFirstTemplate]="firstTemplate" [customLastTemplate]="lastTemplate"
    [customPreviousTemplate]="prevTemplate" [customNextTemplate]="nextTemplate">
  </pagination>
</div>



<div *ngIf="!spinner" class="row">
  <div *ngIf="rows?.length == 0" class="col-12">
    <div class=" mb-4">

        <div class="jumbotron">
          <h1 class="display-4">Oups!!</h1>
          <p class="lead">Aucun article ne correspond aux conditions de recherche spécifiées</p>
  
          <hr class="my-4">
       
        </div>
     
    </div>
  </div>
</div>


    
      <div *ngIf="spinner" class="text-center col-12">
        <div class="spinner-border text-primary" role="status">
        </div>
        <div class="mt-3">{{ 'spinner.loading' | translate }}</div>
      </div>
  



    <!-- </div> -->
<!--   
    <div class="col-12 list" *ngIf="displayMode==='image'">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let a of rows; let i=index" >
          <div [ngClass]="{'card': true, 'active':isSelected(a)}">
            <div class="position-relative">
              <a href="javascript:;">
                <div class="position-absolute card-top-buttons">
                    <button class="btn btn-outline-white icon-button c-pointer" (click)="openModal(template, a)"><i class="simple-icon-pencil"></i></button>
                </div>
              </a>
                <a href="javascript:;" (click)="openDetailsModal(templateDetails, a)">
                <img  style="height: 180px;" class="card-img-top" [src]="a.attributes.url_image ? a.attributes.url_image : (defaultImage)" alt="Article image"></a>
              <span style="background-color: green; color: white;" *ngIf="a.attributes.status === 'checked'" [class]="'badge badge-pill position-absolute badge-top-left'"> Confirmé</span>
              <span style="background-color: rgb(240, 108, 0); color: white;" *ngIf="a.attributes.status === 'archived'" [class]="'badge badge-pill position-absolute badge-top-left'">Archivé</span>
              <span style="background-color: rgb(184, 7, 7); color: white;" *ngIf="a.attributes.status === 'pending'" [class]="'badge badge-pill position-absolute badge-top-left'">En attente</span>
              <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">{{a.attributes.medium.name}}</span>
              <span style="background-color: green; color: white;" *ngIf="a.attributes.is_tagged" [class]="'position-absolute badge-top-right badge badge-pill'"> Tag auto</span> 

            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <div class="custom-control custom-checkbox pl-1">
                    <label class="custom-control custom-checkbox  mb-0">
                      <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(a)"
                        (change)="onSelect(a)">
                      <label class="custom-control-label" [for]="'customCheck'+i"></label>
                    </label>
                  </div>
                </div>
                <div class="col-10">
                  <a href="javascript:;" (click)="openDetailsModal(templateDetails, a)">
                    <p class="list-item-heading mb-4 pt-1 truncate">{{a.attributes.title}}</p>
                  </a>
                  <footer>
                    <p class="text-muted text-small mb-0 font-weight-light"> {{a.attributes.author.name}}</p>
                    <p class="text-muted text-small mb-0 font-weight-light">{{a.attributes.date_published}}</p>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  
  <div class="col-12">


    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
    </ng-template>
    
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
    </ng-template>
    
    <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-control-end'></i>
    </ng-template>
    
    <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-control-start'></i>
    </ng-template>
    
    </div>


    <app-application-menu>
        <div class="p-4 h-100">
            <div class="scroll">
                <p class="text-muted text-small">Date</p>
          
    


                <ul class="list-unstyled mb-5">
                    <li class="active">
                        <a (click)="removeDates()">
                          <i class="simple-icon-trash"></i>   <span *ngIf="duration" class="badge badge-pill badge-outline-danger mb-1 mr-1">{{duration}}</span>
                        </a>
                        <input class="form-control" #drp="bsDaterangepicker" [(ngModel)]="rage_date"  placement='left'  bsDaterangepicker placeholder="Date de publication" [maxDate]="today"  [container]="'html'"  (ngModelChange)="changeDate($event)"
                        [bsConfig]="{ adaptivePosition: true, rangeInputFormat: 'DD/MM/YYYY' }"> 
                    </li>
                    <!-- <li>
                        <a href="javascript:;">
                            <i class="simple-icon-check"></i>
                            Completed Tasks
                            <span class="float-right">24</span>
                        </a>
                    </li> -->
                </ul>
                <p class="text-muted text-small">Auteurs</p>

                <ng-select class="custom" [searchFn]="customSearch" [hideSelected]="true" [items]="authors" placeholder="Auteur" bindLabel="attributes.name" bindValue="id" [multiple]="true"
                (change)="selectAuthor($event)">  
              </ng-select>


              <br>

              <p class="text-muted text-small">Langue</p>
              <ng-select *ngIf="languages" [hideSelected]="true" [items]="languages" placeholder="Langue" bindLabel="viewValue" bindValue="value"
              (change)="selectLang($event)" [multiple]="true" >
          </ng-select>
          
                <!-- <ul class="list-unstyled mb-5">
                    <li>
                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox" class="custom-control-input" id="category1">
                            <label class="custom-control-label" for="category1">Flexbox</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox" class="custom-control-input" id="category2">
                            <label class="custom-control-label" for="category2">Sass</label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox ">
                            <input type="checkbox" class="custom-control-input" id="category3">
                            <label class="custom-control-label" for="category3">React</label>
                        </div>
                    </li>
                </ul> -->
                <br>
                <p class="d-sm-inline-block mb-1">
                  <a href="javascript:;">
                      <span class="badge badge-pill badge-outline-danger mb-1 mr-1">Comming soon</span>
                  </a>
              </p>
                <p class="text-muted text-small">Tags</p>
                <!-- <div>
                    <p class="d-sm-inline-block mb-1">
                        <a href="javascript:;">
                            <span class="badge badge-pill badge-outline-primary mb-1 mr-1">NEW FRAMEWORK</span>
                        </a>
                    </p>
    
                    <p class="d-sm-inline-block mb-1">
                        <a href="javascript:;">
                            <span class="badge badge-pill badge-outline-theme-3 mb-1 mr-1">EDUCATION</span>
                        </a>
                    </p>
                    <p class="d-sm-inline-block  mb-1">
                        <a href="javascript:;">
                            <span class="badge badge-pill badge-outline-secondary mb-1 mr-1">PERSONAL</span>
                        </a>
                    </p>
                </div>  -->
                <ng-select *ngIf="tags" [hideSelected]="true" [items]="tags" placeholder="Tags" bindLabel="name" bindValue="id"
                (change)="selectTag($event)" [multiple]="true" >
              </ng-select>
<br>


<div class="row">
<div class="col-6">
  <ul class="list-unstyled mb-5">
    <li>
        <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="type1">
            <label class="custom-control-label" for="type1">Numérique</label>
        </div>
    </li>
    <li>
        <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="type2">
            <label class="custom-control-label" for="type2">papier</label>
        </div>
    </li>

</ul>
</div>
<div class="col-6">
  <ul class="list-unstyled mb-5">
    <li>
        <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="zone1">
            <label class="custom-control-label" for="zone1">National</label>
        </div>
    </li>
    <li>
        <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="zone2">
            <label class="custom-control-label" for="zone2">International</label>
        </div>
    </li>

</ul>
</div>
</div>




            </div>
        </div>
    </app-application-menu>
<simple-notifications [options]="options"></simple-notifications>


<ng-template #template>
    <div class="modal-body text-center">
      <h6 class="modal-title mb-4">Modification de l'article  </h6>


      <div class="row">
        <div class="col-12">
      
          <div class="card mb-4">
            <div class="card-body">
           
              <quill-editor [(ngModel)]="valueBind" [placeholder]="''"></quill-editor>
            </div>
          </div>
      
          
      
        </div>
      </div>
      



      <button type="button" class="btn btn-outline-primary" (click)="submit()">Confirmer</button> {{" "}}
      <button type="button" class="btn btn-primary" (click)="decline()">Annuler</button>
    </div>
  </ng-template>




  <ng-template #templateDetails>
    <div class="modal-body text-center">
      <h6 class="modal-title mb-4">Détails de l'article  </h6>



      <div class="row">
        <div class="col-12 col-md-12 col-xl-8 col-left">
            <div class="card mb-4">
             
                <img alt="detail" style="height: 300px;"  [src]="articleDetails.attributes.image.url ? urlForImage + articleDetails.attributes.image.url : defaultImage"  class="responsive border-0 card-img-top mb-3 c-pointer" />
                <span style="background-color: brown; color: white;"  [class]="'position-absolute badge-top-left badge badge-pill'"> {{articleDetails?.attributes.category_article}}</span> 
    
                <div class="card-body">
                  <div class="mb-5">
                    <h3 class="card-title">{{articleDetails?.attributes.title}} <a target="_blank" [href]="articleDetails?.attributes.url_article"><i  class='simple-icon-link initial-height'></i></a></h3>
                    <div [innerHTML]="articleDetails?.attributes.body | sanitizeHtml"></div> 
                </div>
              </div>
              
        </div>
    </div>
        <div class="col-12 col-md-12 col-xl-4 col-right">
     
            <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">Inormations</h5>
    
          
                
                  <div class="d-flex flex-row align-items-center mb-3">
                    <a class="d-block position-relative" href="#">
                      <i class='simple-icon-globe large-icon initial-height'></i>
                    </a>
                    <div class="pl-3 pt-2 pr-2 pb-2">
                      <a href="javascript:;">
                        <p class="list-item-heading mb-1">{{articleDetails?.attributes.medium.name}}  </p> 
                      </a>
                    </div>
                  </div>
    
                  <div class="d-flex flex-row align-items-center mb-3">
                    <a class="d-block position-relative" href="#">
                      <i class='simple-icon-user large-icon initial-height'></i>
                    </a>
                    <div class="pl-3 pt-2 pr-2 pb-2">
                      <a href="javascript:;">
                        <p class="list-item-heading mb-1">{{articleDetails?.attributes.author.name}}</p>
                      </a>
                    </div>
                  </div>
    
                  <div class="d-flex flex-row align-items-center mb-3">
                    <a class="d-block position-relative" href="#">
                      <i class='simple-icon-calendar large-icon initial-height'></i>
                    </a>
                    <div class="pl-3 pt-2 pr-2 pb-2">
                      <a href="javascript:;">
                        <p class="list-item-heading mb-1">{{articleDetails?.attributes.date_published | date:'dd/MM/yyyy'}}</p> 
                      </a>
                    </div>
                  </div>
    
                <div class="d-flex flex-row align-items-center mb-3">
                    <a class="d-block position-relative" href="#">
                      <i class='simple-icon-tag large-icon initial-height'></i>
                    </a>
                    <div class="pl-3 pt-2 pr-2 pb-2">
    
                        <p class="d-sm-inline-block mb-1" *ngFor="let item of articleDetails?.attributes.tags">
                            <a href="javascript:;">
                              <span class="badge badge-pill badge-outline-secondary mb-1 mr-1">{{item.name}}</span>
                            </a>
                        </p>
    
                   
                    </div>
                  </div>
                  
              
                </div>
              </div>
        </div>
      </div>
    












   
    </div>
  </ng-template>
